<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.butler.cyber-radar</string>

  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>-m</string>
    <string>butler</string>
    <string>radar</string>
    <string>run</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__ROOT__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>__ROOT__/src</string>
    <key>BUTLER_DATA_DIR</key>
    <string>__DATA__</string>
    <key>BUTLER_TIMEZONE</key>
    <string>Europe/Lisbon</string>
  </dict>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>7</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>

  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>60</integer>

  <key>StandardOutPath</key>
  <string>__LOGS__/cyber-radar.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOGS__/cyber-radar.stderr.log</string>
</dict>
</plist>
